:root{
    --darkest: rgb(34, 34, 34);
    --grey: grey;
}
*{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
header{
    padding: 20px;
    color: var(--grey);
    background-color: var(--darkest);
    display: flex;
    justify-content: center;
}
div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
}
textarea{
    height: 50px;
    width: 300px;
    margin: 10px 0;
}
button{
    margin: 10px 0;
    font-size: 20px;
    height: 50px;
    background-color: rgb(111, 150, 255);
    border: 0;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
.current-box{
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 1000px;
    height: 200px;
}
.city-select{
    height: 150px;
}
.lastsearch{
    padding: 10px;
    background-color: var(--darkest);
    border: 2px;
    border-radius: 5px;
    color: var(--grey);
}
.details{
    font-size: 20px;
    padding: 10px;
}